body {
    background-color: rgb(97, 89, 97);
    margin: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(155, 137, 173);
    padding: 30px;
}

.title {
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px;
    color: lightgoldenrodyellow;
}

.form {
    padding: 30px;
}

.input__text {
    margin-bottom: 23px;
}

.select__text {
    margin: 0;
    margin-bottom: 12px;
}

#choices {
    margin: 0;
    margin-bottom: 23px;
}

.text__img {
    margin: 0;
    margin-bottom: 12px;
}

.text__file {
    margin: 0;
    margin-bottom: 12px;
}

.label__text {
    margin: 0;
    margin-bottom: 12px;
}

.img__radio-card {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    gap: 17px;
    margin-bottom: 30px;
}

.radio-hidden {
    display: none;
}

.card__img {
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.2s;
    border-radius: 12px;
    display: block;
}

.card__img:hover {
    border: gray;
}

.radio-hidden:checked + .card__img {
    border-color: rgb(129, 126, 92);
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
    transform: scale(1.02);
}

.my__card {
    display: flex;
    flex-direction: column;
    background-image: url(./img/chip.jpg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center left 24px;
    width: 400px;
    height: 200px;
    outline: 1px solid black;
    border-radius: 12px;
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.card__txt {
    font-weight: bold;
    margin-left: auto;
    margin-top: auto;
}